.x{
	
	margin-left:500px;
	margin-top:300px;
	width:20%;
	
	}
.y{
	background-image:url('images.jpg');
	color:white;
}


.list{
background-color:black;
margin-top:0;
margin-left:0;
}

.li1{
color:white;
font-size:20px;
}

.back{
text-align:center;
color:black;

}
.f{
color:white;
margin:80;
height:30px;
width:30px;
}
.g{
color:#000000;
margin:0;
font-size:20px;

}

.w3{
height:50;
width:100;
}
.n{
text-align:center;
color:black;
}
















